pkgbase = mangohud
	pkgdesc = A Vulkan overlay layer for monitoring FPS, temperatures, CPU/GPU load and more.
	pkgver = 0.6.9.1
	pkgrel = 8
	url = https://github.com/flightlessmango/MangoHud
	arch = loong64
	arch = x86_64
	license = MIT
	makedepends = appstream
	makedepends = cmocka
	makedepends = glfw-x11
	makedepends = glslang
	makedepends = libxnvctrl
	makedepends = meson
	makedepends = nlohmann-json
	makedepends = python-mako
	depends = dbus
	depends = fmt
	depends = gcc-libs
	depends = glew
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = libx11
	depends = spdlog
	depends = vulkan-icd-loader
	optdepends = libxnvctrl: NVIDIA GPU stats by XNVCtrl
	optdepends = glfw-x11: Required for MangoApp
	optdepends = gamescope: Use MangoApp as an overlay within gamescope
	conflicts = mangohud-common
	conflicts = mangohud-common-wayland
	conflicts = mangohud-common-x11
	conflicts = mangoapp
	conflicts = mangohud-x11
	conflicts = mangohud-wayland
	replaces = mangohud-common
	replaces = mangohud-common-wayland
	replaces = mangohud-common-x11
	replaces = mangoapp
	replaces = mangohud-x11
	replaces = mangohud-wayland
	source = mangohud-0.6.9.1.tar.xz::https://github.com/flightlessmango/MangoHud/releases/download/v0.6.9-1/MangoHud-v0.6.9-1-Source.tar.xz
	source = 3f8f036ee8773ae1af23dd0848b6ab487b5ac7de-reversed.patch
	source = https://github.com/flightlessmango/MangoHud/commit/5754ca13ee2cdf19a76b4fc79dd914a58d6371f5.patch
	sha256sums = 30d9336b60cbc7fdc2a1ba86ec62b9fb7f2986a2b0f6196ca347f5c13e583c6d
	sha256sums = 244ef8fffb27042d521993f9e9894f852d3061a980345e5c8c6a3f148dd26707
	sha256sums = 8ce4dbd1b5d0d8d798c9c9704c10c887252d8c5ffc579a1fd875804638d465ec

pkgname = mangohud
	depends = dbus
	depends = fmt
	depends = gcc-libs
	depends = glew
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = libx11
	depends = spdlog
	depends = vulkan-icd-loader
	depends = vulkan-icd-loader
	depends = libvulkan.so
	depends = spdlog
	depends = libspdlog.so
